@font-face {
  font-family: 'entypo';
  src: url('../font/entypo.eot');
  src: url('../font/entypo.eot?#iefix') format('embedded-opentype'),
       url('../font/entypo.woff') format('woff'),
       url('../font/entypo.ttf')  format('truetype'),
       url('../font/entypo.svg#entypo') format('svg');
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 80px;
}

header {
    text-align: center;
    color: white;
    background-color: #2c81be;
    padding: 30px 0 0;
    height: 480px;
    background-image: url('../img/head.png');
    background-size: 188px 480px;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    header {
        padding-top: 30px;
    }
}

a {
    color: #3385BA;
}

a:hover {
    text-decoration: none;
    color: #2B54B3;
}

h1 {
    font-family: "futura-pt";
    font-weight: 100;
    font-size: 60px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

h1 strong {
    font-weight: 400;
}

h2 {
    margin-bottom: 0;
    padding-top: 50px;
}

h2, h3 {
    font-family: "futura-pt";
    text-transform: uppercase;
    font-weight: 100;
}

h2 {
    font-weight: 400;
    margin-bottom: 30px;
}

.container {
    max-width: 700px;
}

.center {
    text-align: center;
}
.screenshot {
    margin: 50px auto;
    text-align: center;
}

.screenshot img {
    max-width: 100%;
}

.next-row {
    margin-top: 50px;
    
}
@media (max-width: 767px) {
    .col-sm-6:nth-child(2) {
        margin-top: 50px;
    }
}

.fbatwork {
    margin-bottom: 80px;
    margin-top: 50px;
}
code {
    color: black;
    background: transparent;
}

.btn-download {
    background: #47C2D0;
    padding: 8px 40px 5px;
    color: white;
    font-size: 18px;
    border-radius: 4px;
}

header .btn {
    border: 2px solid white;
    font-family: "futura-pt";
    text-transform: uppercase;
    margin-top: 20px;
    padding-top: 6px;
}

@media (max-width: 767px) {
    header .btn {
        margin-top: 14px;
    }
}

.btn-download:hover {
    color: white;
    background: #48aab5;
}


@media (max-width: 767px) {
    .appstore {
        margin-left: 0;
        margin-bottom: 10px;
        display: block;
    }
}

.contact {
    max-width: 500px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    width: 64px;
    border-radius: 999em;
    margin-bottom: 10px;
}

.foxes {
    width: 120px;
    margin: auto;
}

footer {
    margin-top: 20px;
    font-size: 9px;
    color: #888;
}

.sosumi {
    margin-left: -13px;
}